/*!
 * jQuery UI Resizable 1.12.1
 * http://jqueryui.com
 *
 * Copyright jQuery Foundation and other contributors
 * Released under the MIT license.
 * http://jquery.org/license
 */
.ui-resizable {
    position: relative;
}
.ui-resizable-handle {
    position: absolute;
    font-size: 0.1px;
    display: block;
    -ms-touch-action: none;
    touch-action: none;
}
.ui-resizable-disabled .ui-resizable-handle,
.ui-resizable-autohide .ui-resizable-handle {
    display: none;
}
.ui-resizable-n {
    cursor: n-resize;
    height: 7px;
    width: 100%;
    top: -5px;
    left: 0;
}
.ui-resizable-s {
    cursor: s-resize;
    height: 7px;
    width: 100%;
    bottom: -5px;
    left: 0;
}
.ui-resizable-e {
    cursor: e-resize;
    width: 7px;
    right: -5px;
    top: 0;
    height: 100%;
}
.ui-resizable-w {
    cursor: w-resize;
    width: 7px;
    left: -5px;
    top: 0;
    height: 100%;
}
.ui-resizable-se {
    cursor: se-resize;
    width: 12px;
    height: 12px;
    right: 1px;
    bottom: 1px;
}
.ui-resizable-sw {
    cursor: sw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    bottom: -5px;
}
.ui-resizable-nw {
    cursor: nw-resize;
    width: 9px;
    height: 9px;
    left: -5px;
    top: -5px;
}
.ui-resizable-ne {
    cursor: ne-resize;
    width: 9px;
    height: 9px;
    right: -5px;
    top: -5px;
}

@color_1: rgb(85, 85, 85);
@color_2: rgb(119, 119, 119);
@font_family_1: "UniversNextW01-Regular",sans-serif;
@background_color_1: white;
@background_color_2: rgb(255, 255, 255);

/* Bootstrap Popover Klassen */
/* Desktop GFI */
/* Desktop Detached */
.popover {
    padding: 0;
    min-width: 40vw;
    border: 0;
    z-index: 1;
}
.popover-content {
    padding: 0;
}
.gfi {
    .panel {
        margin-bottom: 0;
    }
    .has-image {
        max-width: 25vw;
    }
    border: 1px solid rgb(229, 229, 229);
    color: @color_1;
    font-family: @font_family_1;
    >.gfi-header {
        font-size: 14px;
        padding: 8px;
        border-bottom: 1px solid rgb(229, 229, 229);
        >.title {
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
        >.buttons {
            margin: 0 0 0 10px;
            cursor: pointer;
            font-size: 16px;
        }
    }
    >.gfi-content {
        font-size: 13px;
        overflow: auto;
    }
    .gfi-image-zoom-button {
        top: -17px;
        background-color: @background_color_1;
        padding: 2px;
    }
    .gfi-image-copyright {
        top: -19px;
        position: relative;
        font-size: 0.9em;
        padding: 2px;
        background-color: @background_color_1;
    }
    table {
        margin: 0;
    }
}
.gfi-detached {
    position: absolute;
    min-width: 250px;
    top: 50px;
    margin: 10px 10px 30px 10px;
    background-color: @background_color_2;
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.300);
    >.gfi-header {
        >.title {
            cursor: move;
        }
    }
}
.gfi-footer {
    padding: 0;
    color: @color_2;
    text-align: center;
    font-size: 22px;
    >div {
        background: #f3f3f3;
        padding: 6px;
        cursor: pointer;
        width: 50%;
    }
    >.disabled {
        cursor: not-allowed;
        background-color: @background_color_2;
        opacity: 0.2;
    }
    >.pager-left {
        float: left;
        border-right: 1px solid #ddd;
    }
    >.pager-right {
        float: right;
    }
}
.gfi-iFrame {
    width: 100%;
    min-height: 40vh;
}

.gfi-text-html {
    min-width: 45vw;
}
