<!DOCTYPE html>
<form class="form-inline">
    <div class= "title-values pull-left">
        <div class="form-group form-group-sm">
            <label><%= displayName %></label>
        </div>
        <div class="form-group form-group-sm pull-right">
            <% if (editableValueBox===true) { %>
            <input type="text" class="form-control form-minimum" placeholder="<%= valuesCollection.at(0).get('value') %>">
            <span>-</span>
            <input type="text" class="form-control form-maximum" placeholder="<%= valuesCollection.at(1).get('value') %>">
            <% } else { %>
            <label class="valueBox"><% print (this.model.getValueText(valuesCollection.at(0).get("value"))); %></label>
            <span>-</span>
            <label class="valueBox"><% print (this.model.getValueText(valuesCollection.at(1).get("value"))); %></label>
            <% } %>
        </div>
    </div>
    <% if (typeof infoText !== "undefined") { %>
    <div class="info-icon">
        <span class="glyphicon glyphicon-info-sign"></span>
    </div>
    <% } %>
</form>
</div>
<input class="slider" type="text" data-slider-tooltip="hide" />
<% if (!_.isUndefined(this.model.get("infoText"))) { %>
    <div class="info-text"><%= infoText %></div>
<% } %>
